/* ============================COMMON=========================== */
.body {
  /* 브라우저의 기본 스타일 설정 */
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
img {
  /* img태그들을 block요소로 변경 */
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* ==========================HEADER=========================== */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}

/* header태그의 바로 아래 자식이고 .inner인 1개 녀석만 */
header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  /* 배치 영역 */
  position: absolute;
  /* 배치 위치 */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
header .sub-menu {
  /* sub-menu와 검색영역(input)을 함께 정렬하기 위해 flex사용 */
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .sub-menu ul.menu {
  display: flex;
  /* 메뉴바의 글꼴을 다르게 변경 */
  font-family: Arial, Helvetica, sans-serif;
}
header .sub-menu ul.menu li {
  position: relative;
}
/* 가상요소 bdfore로 메뉴 구분선 만들어주기 */
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* 메뉴 앞에 나오는 첫 구분선만 지우기 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  background-color: white;
  font-size: 12px;
  /* UX를 위해 a태그를 block으로 바꾸고 padding값 줘서 선택영역 늘려주기 */
  padding: 11px 16px;
  display: block;
  color: #656565;

}
header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  transition: width .4s;
}
/* input이 focus되면 */
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  /* 정렬을 위해 요소의 넓이를 추가(구글 icons의 기본 크기는 24px) */
  height: 24px;
  position: absolute;
  /* 수직 가운데 정렬 */
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}

/* .search의 input 활성화로 .focused가 추가될 때(일치선택자) */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* ----------------------header .main-menu부분------------------------------- */
header .main-menu {
  /* menu items정렬 */
  display: flex;

  /* menu 위치 설정 */
  position: absolute;
  bottom: 0;
  right: 0;
  /* 메뉴영역은 앞쪽 레이어로 순서 지정*/
  z-index: 1;
}

header .main-menu .item {
  
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* hover될 때 바뀌는 시각적 효과를 .item__name과 .item__contents에 함께 적용해야함 
-> 부모 class인 .item에 가상클래스 적용해 .item__name쪽 설정 변경  */
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  
}


header .main-menu .item .item__contents {
  width: 100%;
  /* 뷰포트 기준으로 header의 contents영역이 계속 표시되게끔 설정 */
  position: fixed;
  left: 0;
  /* header의 contents영역은 item이 hover될때만 보여져야 함 */
  display: none;
}

/* hover될 때 바뀌는 시각적 효과를 .item__name과 .item__contents에 함께 적용해야함 
-> 부모 class인 .item에 가상클래스 적용해 .item__contents쪽 설정 변경 */
header .main-menu .item:hover .item__contents {
  display: block;
}

/* ----------------------header .main-menu안 contents의 menu부분------------------------------- */

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

/* contents안 바로 아래자식이고 ul인 1개 녀석만 */
/* ul이 많은 html구조에서는 '>'(자식선택자)를 활용해 선택하는 것이 좋음 */
header .main-menu .item .item__contents .contents__menu > ul {
  /* ul의 items 정렬 */
  display: flex;
  padding: 20px 0;
}

/* contents안 바로 아래자식이고 ul인 1개 녀석의 바로 아래자식 li 1개 녀석만 */
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  /* 마우스 커서가 올라가면 pointer모양으로 바꿔주기 */
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  font-size: 12px;
  padding: 26px 0;
  background: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
  font-size: 12px;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  /* 위4 오,왼0 아래14 */
  margin: 4px 0 14px;

}

