/* ============================COMMON=========================== */
body {
  /* 브라우저의 기본 스타일 설정 */
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

img {
  /* img태그들을 block요소로 변경 */
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: .4s;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

/* 상태를 나타내는 -- */
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}

.btn.btn--brown:hover {
  color: #FFF;
  background-color: #592B18;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}

.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

.back-to-position{
  /* 투명하게 */
  opacity: 0;
  /* transition이 다른 요소와 중복/상속으로 적용되지 않도록 할 것  */
  transition: 1s;
}

.back-to-position.to-right{
  transform: translateX(-150px);
}

.back-to-position.to-left{
  transform: translateX(150px);
}
/* .show가진 애들의 자식요소중 .back-to-position가진 녀석들 */
.show .back-to-position{
  /* 다시 보여지고 왼쪽으로 돌아가기 */
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0{
  /* 이후 애니메이션 흐름을 예측할 수 있게 이곳이 시작점이라는 의미로 0(기본값)을 명시적으로 써주기 */
  transition-delay: 0;
}
.show .back-to-position.delay-1{
  transition-delay: .3;
}
.show .back-to-position.delay-2{
  transition-delay: .6;
}
.show .back-to-position.delay-3{
  transition-delay: .9;
}


/* ==========================HEADER=========================== */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;

  /* header .badges를 위한 position 설정 */
  /* position: relative는 block요소처럼, position: absolute, fixed는 인라인적 성향을 가짐
  헤더를 뷰포트에 고정해야 하므로 fixed 사용, 블록처럼 최대로 늘어나게 채우기 위해 크기 100% */
  position: fixed;
  top: 0;
  width: 100%;
  /* 앞에 나와야하므로 높은 값줘서 명시 */
  z-index: 9;
}

/* header태그의 바로 아래 자식이고 .inner인 1개 녀석만 */
header>.inner {
  height: 120px;
}

header .logo {
  height: 75px;
  /* 배치 영역 */
  position: absolute;
  /* 배치 위치 */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header .sub-menu {
  /* sub-menu와 검색영역(input)을 함께 정렬하기 위해 flex사용 */
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header .sub-menu ul.menu {
  display: flex;
  /* 메뉴바의 글꼴을 다르게 변경 */
  font-family: Arial, Helvetica, sans-serif;
}

header .sub-menu ul.menu li {
  position: relative;
}

/* 가상요소 bdfore로 메뉴 구분선 만들어주기 */
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 메뉴 앞에 나오는 첫 구분선만 지우기 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  background-color: white;
  font-size: 12px;
  /* UX를 위해 a태그를 block으로 바꾸고 padding값 줘서 선택영역 늘려주기 */
  padding: 11px 16px;
  display: block;
  color: #656565;

}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
  transition: width .4s
}

/* input이 focus되면 */
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  /* 정렬을 위해 요소의 넓이를 추가(구글 icons의 기본 크기는 24px) */
  height: 24px;
  position: absolute;
  /* 수직 가운데 정렬 */
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}

/* .search의 input 활성화로 .focused가 추가될 때(일치선택자) */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* ----------------------header .main-menu부분------------------------------- */
header .main-menu {
  /* menu items정렬 */
  display: flex;

  /* menu 위치 설정 */
  position: absolute;
  bottom: 0;
  right: 0;
  /* 메뉴영역은 앞쪽 레이어로 순서 지정*/
  z-index: 1;
}

/* header .main-menu .item {
  
} */

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* hover될 때 바뀌는 시각적 효과를 .item__name과 .item__contents에 함께 적용해야함 
-> 부모 class인 .item에 가상클래스 적용해 .item__name쪽 설정 변경  */
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

/* 
header .main-menu .item .item__contents {
} */


header .main-menu .item .item__contents {
  width: 100%;
  /* 뷰포트 기준으로 header의 contents영역이 계속 표시되게끔 설정 */
  position: fixed;
  left: 0;
  /* header의 contents영역은 item이 hover될때만 보여져야 함 */
  display: none;
}

/* hover될 때 바뀌는 시각적 효과를 .item__name과 .item__contents에 함께 적용해야함 
-> 부모 class인 .item에 가상클래스 적용해 .item__contents쪽 설정 변경 */
header .main-menu .item:hover .item__contents {
  display: block;
}

/* ----------------------header .main-menu안 contents의 menu부분------------------------------- */

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

/* contents안 바로 아래자식이고 ul인 1개 녀석만 */
/* ul이 많은 html구조에서는 '>'(자식선택자)를 활용해 선택하는 것이 좋음 */
header .main-menu .item .item__contents .contents__menu>ul {
  /* ul의 items 정렬 */
  display: flex;
  padding: 20px 0;
}

/* contents안 바로 아래자식이고 ul인 1개 녀석의 바로 아래자식 li 1개 녀석만 */
header .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  /* 마우스 커서가 올라가면 pointer모양으로 바꿔주기 */
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  font-size: 12px;
  padding: 26px 0;
  background: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
  font-size: 12px;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  /* 위4 오,왼0 아래14 */
  margin: 4px 0 14px;

}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  /* 모서리를 넘어가는 부분은 숨겨주기 */
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}


/* ============================ VISUAL ============================ */

.visual {
  margin-top: 120px;
  background: url("../images/visual_bg.jpg") center;
}

.visual .inner {
  height: 646px;
}

/* .visual .inner .title 입력하는 차례에서
inner가 .title에서 특정한 뭔가를 할 필요가 없으면 생략해도 좋음 */
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}


/* ============================ NOTICE ============================ */

.notice .notice-line {
  position: relative;
}

/* position: relative는 block요소처럼, position: absolute, fixed는 인라인적 성향을 가짐
인라인이라면 블록처럼 최대로 늘어나도록 크기 100%로 채워줘야 함 */
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  /* 자식들인 .inner__left와 .inner_right를 묶어주기 */
  display: flex;
  z-index: 1;
}

.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  /* 아래 자식 녀석들을 한묶음으로 만들어주자 */
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  /* + 아이콘 색상과 크기 조절 */
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  /* 메인축 수평의 끝점(오른쪽 끝)으로 이동후 가운데 수직정렬  */
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  /* 요녀석은 a태그가 아니기때문에 UX를 위해 마우스 커서모양을 바꿔줘 버튼처럼 보이게 한다  */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  /* + 아이콘 크기 조절 */
  font-size: 30px;
}


/* ============================PROMOTION============================ */

.notice .promotion {
  /*width: auto;*/
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  /* 영역 넘치면 숨기기 */
  overflow: hidden;
}

.notice .promotion.hide {
  height: 0;
}

/* (819px 슬라이드 * 3) + 사이 여백 10px씩 = 2477px */
.notice .promotion .swiper-container {
  /* CSS의 calc()를 사용하자! 
  괄호 안 수식을 자동으로 계산해 결과값을 속성값으로 적용해주는 효자함수!! */
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  /* 가운데 정렬을 노리고 왼쪽 50%를 먼저 추가해서 배치시켜주기 
  left값에서 이동한 것은 기준점(왼쪽 모서리)을 기준으로 50% 간 것 
  따라서 실제 시각적인 가운데 정렬이 아님 */
  left: 50%;
  /* 때문에 위에서 추가한 가로넓이(width)를 다시 빼줘야 
  요소가 오른쪽->왼쪽으로 되면서 시각적인 정렬이 된다.
  => (왼쪽->오른쪽)으로 50% 옮겨져있는 요소의 위치로부터 
  요소의 절반(넓이의 절반)을 다시 (오른쪽->왼쪽)으로 가게끔 이동시켜야함 
  
  참고: '방향50% - margin-방향'으로 정렬시키는 우 width, height값이 고정인 상태에서만 사용가능 */
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  position: relative;
  opacity: .5;
  /* opacity만 자연스럽게, 1초 */
  transition: opacity 1s;
}

/* swiper에서 현재 보여주는 활성화된 화면 */
.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* 이미 css위쪽 버튼 설정에서 width:130px값 넣었으므로 상속처리됨  */
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}

/* swiper가 지정해둔 선택자 html에서 찾아와서 원하는 설정으로 바꾸기 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  /* 배경에 투명값 적용하기 */
  background: url("../images/promotion_slide_pager.png") transparent;
  width: 13px;
  height: 12px;
  /* 동그라미 버튼끼리 여백주기 */
  margin-right: 6px;
  outline: none;
}

/* .swiper-pagination 안에 있는 .wiper-pagination-bullet들 중
가장 마지막에 있는 녀석을 가상요소로 선택해서 오른쪽 줬던 여백 다시 없애주기  */
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

/* .swiper-pagination 중에 .swiper-pagination-bullet-active를 가진 녀석이면 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

/* 다중선택자를 이용해서
슬라이드 좌/우 버튼에 설정 동시적용 */
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid #333;
  /* 버튼 동그랗게 만들기 */
  border-radius: 50%;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 300px;
  z-index: 1;
  cursor: pointer;
  /* 화살표 아이콘 중앙으로 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

/* 화살표 버튼에 hover되면 */
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* ============================REWARDS============================ */

.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}

.rewards .btn-group {
  position: absolute;
  right: 0;
  bottom: 24px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex: 1;
}


/* ============================YOUTUBE VIDEO============================ */

.youtube {
  position: relative;
  overflow: hidden;
  height: 700px;
  background-color: #333;
}

.youtube .youtube__area {
  width: 1920px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  /* top + margin-top이용해서 16:9비율로 맞추고 중앙으로 땡겨오기 */
  margin-top: calc(1920px * 9 / 16 -2);
}

.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  /* 56.25% == 16:9비율 유지 */
  padding-top: 56.25%;
}

.youtube .youtube__cover {
  background: url("../images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

.youtube .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

/* ============================SEASON PRODUCT=========================== */

.season-product {
  background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
  height: 400px;
}

.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}

.season-product .text-group .title {
  margin-bottom: 10px;
}

.season-product .text-group .description {
  margin-bottom: 15px;
}


/* ============================RESERVE COFFEE=========================== */

.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* ============================PICK YOUR FAVORITE============================ */

.pick-your-favorite {
  /* no-repeat + fixed를 이용해 패럴렉스 효과 적용 */
  background: url("../images/favorite_bg.jpg") no-repeat center fixed;
  background-size: cover;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  width: 362px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}


/* ============================RESERVE STORE============================ */
/* 앞/뒤 겹치게 만들어 3D효과 적용하기 */

.reserve-store {
  background: url("../images/reserve_store_bg.jpg") 
              no-repeat center fixed;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  /* 아이템들 겹쳐지도록 중간정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal {
  /* 부모의 크기조절로 마우스 hover의 영역 지정/적용 */
  width: 334px;
  height: 334px;
  /* 부모에게 원근법 적용 */
  perspective: 600px;
}

.reserve-store .medal .front,
.reserve-store .medal .back {
  width: inherit;
  height: inherit;
  /* 겹치게 만들기 위해 둘다 absolute적용 */
  position: absolute;
  transition: 1s;
  /* 뒤집으면 안보이게! 
  => 앞, 뒤 모두 서로 안보일 때 각 효과 적용됨 */
  backface-visibility: hidden;
}

.reserve-store .medal .front {
  /* 명시적으로 0도부터 출발한다는 것을 지정 */
  transform: rotateY(0deg);
}

/* .medal이 마우스 hover되면 .front(앞쪽) 3D효과 적용해서 뒤집기 */
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  /* -로 만들어서 반전 이미지로 만들어주기 */
  transform: rotateY(-180deg);
}

/* .medal이 마우스 hover되면 .back(뒷쪽) 3D효과 적용해서 뒤집기 */
.reserve-store .medal:hover .back {
  /* Y를 0으로 */
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* ============================FIND THE STORE============================ */
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.5);
  position: absolute;
}
.find-store .picture1 {
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}

/* ============================ AWARDS ============================ */

.awards{
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper-container {
  width: 100%;
  height: 40%;
}

.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.awards .swiper-prev{
  left: -100px;
}

.awards .swiper-next {
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

/* ============================ FOOTER ============================ */

footer{
  background-color: #272727;
  border-top: 1px solid #333;
}

footer .inner {
  padding: 40px 0 60px 0;
}

footer .menu { 
  display: flex;
  justify-content: center;
}

footer .menu li{
  position: relative;
}
footer .menu li::before{ 
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
/* 마지막에 추가된 '.' 요소 지우기  */
footer .menu li:last-child::before{ 
  display: none;
}
footer .menu li a{
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  /* UX를 위해 선택영역 늘려주기 */
  padding: 15px;
  display: block;
}
footer .menu li a.green{
  color: #669900;
}

footer .btn-group{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn{
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child{
  margin-right: 0;
}

footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span{
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child{
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0;
}

/* ============================ TO TOP BUTTON ============================ */

#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:30px;
  right:30px;
  /* 다른 요소들보다 위에서 존재하도록 설정 */
  z-index: 9;
}